<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sign-up</title>
</head>
<body>
    <header>
        <h1 class="sign-h1">Sign-up</h1>
    </header>
        <main>
            <h4 class="sign-h4">It´s free and only take's a minute</h4>
            <section class="form-login">
                <h3 class="sign-h3">Start your adventure!</h3>
                <input class="controls" type="text" name="user" value="" placeholder="User*">
                <input class="controls" type="password" name="password" value="" placeholder="Password*">
                <input class="controls" type="password" name="password" value="" placeholder="Repeat password*">
                <input class="buttons" type="submit" name="" value="Sign-up!">
                <p><a href="#">Forgot your password?</a></p>
                <p><a href="#">Already have an account?</a></p>
            </section>
        </main>
    
</body>
</html>